body{
	margin: 0 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.clearfix {
  *+height: 1%;
}


.top-container{
	width: 100%;
	height: 40px;
	background-color: #333333;
}

.jm .top-bar{
	width: 90%;
	margin: 0 auto;
	position: relative;
	font-size: 12px;
	z-index: 11;
}

.jm .topbar-nav{
	float: left;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

.jm .nav-wrap{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.jm .nav-wrap>.nav{
	display: inline-block;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
}

.jm .nav-wrap>.nav>.nav-name{
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	color: #b0b0b0;

}
.jm .nav-wrap>.nav>.nav-name:hover{
	color: #fff;
}

.jm .nav-wrap>.nav>.nav-separate{
	display: inline-block;
	color: #b0b0b0;
	margin-left: 5px;
}


.jm .topbar-info{
	position: absolute;
	top: 0;
	right: 140px;
	height: 40px;
	line-height: 40px;
}

.jm .topbar-info>a{
	color: #b0b0b0;
	text-decoration: none;
}
.jm .topbar-info a:hover{
	color: #ffffff;
}

.jm .topbar-info>.nav-separate,.nav-wrap>.nav-separate{
	color: #b0b0b0;
}

.jm .topbar-cart{
	position: relative;
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: #424242;
}

.jm .topbar-cart>.active{
	background: #ffffff;
}

.jm .topbar-cart>.cart :hover{
	color: #ff6700;
}

.jm .topbar-cart>.cart>a{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 40px;
	color: #b0b0b0;
	text-decoration: none;
	box-sizing:border-box;
}

.jm .topbar-cart>.cart>span{
	color: #b0b0b0;
}

.jm .topbar-cart>.cart>.icon-cart{
	position: absolute;
	left: 15px;
	top:10px;
	font-size: 20px;
	color: #b0b0b0;
}

.jm .topbar-cart>.cart-list{
	position: absolute;
	width: 316px;
	height: 96px;
	top: 40px;
	right: 0;
	line-height: 96px;
	text-align: center;
	color: #b0b0b0;
	background: #ffffff;
	box-shadow: 0 0 5px #ccc;
	overflow: hidden;
	z-index: 10;
}

.jm .cart-list.fadein-transition{
	transition: all 10s ease;
	height: 96px;
}

.jm .fadein-enter, .fadein-leave{
	height: 0;
}


/*@import url(https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css);*/